global:
    scrape_interval: 15s
    evaluation_interval: 15s

rule_files:
  - "{{ prometheus_rule_files_path }}/*.yml"

alerting:
  alertmanagers:
    - scheme: http
      path_prefix: "{{ prometheus_config_path }}"
      static_configs:
        - targets: ['localhost:9093']

scrape_configs:
  - job_name: 'file_scrape'
    file_sd_configs:
      - files:
        - "{{ prometheus_host_files_path }}/*.json"

  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [icmp]
    file_sd_configs:
      - files:
        - "{{ prometheus_host_files_path }}/cameras/*.json"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 192.168.1.5:9115
